# Empresa Inmobiliaria

In [19]:
import pandas as pd
import numpy as np

## Importar Datos

In [20]:
df = pd.read_csv("alquiler.csv", sep=";")
df.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

In [21]:
df.shape

(25121, 9)

In [22]:
cols = df.columns
cols

Index(['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor',
       'Condominio', 'Impuesto'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

## EDA Análisis exploratorio de los Datos

In [24]:
df.describe()

,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
count,25121.000000,25121.000000,25121.000000,25121.000000,2.510700e+04,2.249500e+04,1.803700e+04
mean,1.748856,1.798655,0.656781,220.885076,3.688505e+04,9.528676e+03,4.436513e+03
std,1.811131,22.906129,1.083180,817.465428,3.669381e+05,1.547102e+05,2.283381e+04
min,0.000000,0.000000,0.000000,0.000000,3.150000e+02,3.500000e+00,3.500000e+00
25%,0.000000,0.000000,0.000000,55.000000,5.600000e+03,2.275000e+03,4.270000e+02
50%,2.000000,1.000000,0.000000,90.000000,1.137500e+04,4.056500e+03,1.008000e+03
75%,3.000000,2.000000,1.000000,180.000000,2.695000e+04,7.350000e+03,2.625000e+03
max,100.000000,1966.000000,24.000000,42000.000000,5.250000e+07,2.293400e+07,1.577188e+06

In [25]:
df.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

#### ¿Cuáles son los valores promedio de alquiler por tipo de propiedad?

In [26]:
promedio_alquiler_por_tipo = df.groupby("Tipo", as_index=False).agg(ValorPromedioAlquiler=("Valor", "mean"))
promedio_alquiler_por_tipo["ValorPromedioAlquiler"] = promedio_alquiler_por_tipo["ValorPromedioAlquiler"].round(2)
promedio_alquiler_por_tipo.to_csv("promedio-alquiler-por-tipo.csv", index=False)
promedio_alquiler_por_tipo

                          Tipo  ValorPromedioAlquiler
0                         Casa               31453.18
1               Casa Comercial               54735.84
2           Casa de Condominio               51428.61
3             Casa de Vecindad                5961.74
4      Cochera/Estacionamiento                6995.45
5                     Cocineta                4425.86
6      Conjunto Comercial/Sala               57675.21
7                 Departamento               18683.27
8        Departamento en Hotel               16285.43
9            Edificio Completo              409418.08
10                     Estudio                8400.00
11     Galpón/Depósito/Almacén              299984.14
12                       Hotel               87500.00
13                   Industria              420000.00
14                        Loft                9924.53
15            Loteo/Condominio               92166.67
16                Posada/Chalé                5180.00
17                      Rancho               38014.38
18            Terreno Estándar              135364.44
19  Tienda en Centro Comercial               32556.79
20                Tienda/Salón               56263.54

#### ¿Cuál es el porcentaje de cada tipo de propiedad en nuestra base de datos?

In [27]:
porcentaje_tipo = (
    df["Tipo"]
    .value_counts(normalize=True)  # convierte los conteos en proporciones
    .mul(100)                      # transforma la proporción en porcentaje
    .round(2)                      # redondea a dos decimales
    .reset_index()                 # deja el resultado en formato tabular
    .rename(columns={"index": "Tipo", "Tipo": "Tipo", "proportion": "Porcentaje"})
)
porcentaje_tipo.to_csv("porcentaje-tipo.csv", index=False)
porcentaje_tipo

                          Tipo  Porcentaje
0                 Departamento       58.77
1      Conjunto Comercial/Sala       22.61
2                 Tienda/Salón        4.37
3                     Cocineta        2.89
4           Casa de Condominio        2.43
5                         Casa        2.17
6        Departamento en Hotel        1.81
7      Galpón/Depósito/Almacén        1.15
8            Edificio Completo        0.86
9               Casa Comercial        0.80
10  Tienda en Centro Comercial        0.78
11            Casa de Vecindad        0.63
12     Cochera/Estacionamiento        0.31
13            Terreno Estándar        0.18
14                        Loft        0.15
15                      Rancho        0.03
16                     Estudio        0.02
17            Loteo/Condominio        0.01
18                       Hotel        0.01
19                Posada/Chalé        0.00
20                   Industria        0.00

## Tratamiento de valores nulos

In [28]:
# Imputar Valor con la mediana
df["Valor"] = df["Valor"].fillna(df["Valor"].median())

# Imputar Condominio e Impuesto con 0
df["Condominio"] = df["Condominio"].fillna(0)
df["Impuesto"] = df["Impuesto"].fillna(0)
df.to_csv("tratamiento-valores-nulos.csv", index=False)
df.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,0.0,0.0
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,0.0

In [29]:
df.isna().sum()

Tipo            0
Colonia         0
Habitaciones    0
Garages         0
Suites          0
Area            0
Valor           0
Condominio      0
Impuesto        0
dtype: int64

## Remover registros inconsistentes

In [30]:
df = df[~((df["Tipo"] == "Departamento") & (df["Valor"] == 0))]
df = df[~((df["Tipo"] == "Departamento") & (df["Condominio"] == 0))]
df.to_csv("remover-registros-inconsistentes.csv", index=False)
df.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,0.0,0.0
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,0.0

## Aplicar filtros
#### 1. Apartamentos que tienen 1 dormitorio y un alquiler menor a MXN 4200.

In [31]:
departamentos_1_habitacion = df[
    (df["Tipo"] == "Departamento") &
    (df["Habitaciones"] == 1) &
    (df["Valor"] < 4200)
]
departamentos_1_habitacion.to_csv("departamentos-1-habitacion.csv", index=False)
departamentos_1_habitacion.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,0.0
19,Departamento,Narvarte,1,0,0,48,2625.0,2702.0,87.5
37,Departamento,Centro Histórico,1,0,0,27,2625.0,1298.5,66.5
61,Departamento,Centro Histórico,1,1,0,37,3850.0,1890.0,3150.0

In [32]:
departamentos_1_habitacion.shape

(361, 9)

#### 2. Apartamentos que tienen al menos 2 dormitorios, un alquiler menor a MXN 10500 y una superficie mayor a 70 m².

In [33]:
departamentos_2_habitaciones = df[
    (df["Tipo"] == "Departamento") &
    (df["Habitaciones"] >= 2) &
    (df["Valor"] < 10500) &
    (df["Area"] > 70)
]
departamentos_2_habitaciones.to_csv("departamentos-2-habitaciones.csv", index=False)
departamentos_2_habitaciones.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
14,Departamento,Narvarte,2,1,0,110,6650.0,2450.0,483.0
16,Departamento,Narvarte,2,1,0,78,7000.0,2450.0,0.0
21,Departamento,Roma,2,1,0,76,8750.0,2590.0,0.0
33,Departamento,Santa Fe,3,1,1,72,8225.0,2100.0,245.0
58,Departamento,Santa Fe,3,2,1,104,9100.0,4774.0,1421.0

In [34]:
departamentos_2_habitaciones.shape

(2643, 9)

## Crear columnas numéricas

In [35]:
df["Valor Mensual"] = df["Valor"] + df["Condominio"]
df["Valor Anual"] = (df["Valor"] + df["Condominio"]) * 12 + df["Impuesto"]
df.to_csv("valor-mensual-anual.csv", index=False)
df.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto,Valor Mensual,Valor Anual
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0,7700.0,92610.0
1,Casa,Polanco,2,0,1,100,24500.0,0.0,0.0,24500.0,294000.0
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5,32270.0,391128.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0,4165.0,50050.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,0.0,3605.0,43260.0

## Crear columnas categóricas

In [36]:
df["Descripcion"] = (
    df["Tipo"] + " en " + df["Colonia"] + " - " + df["Habitaciones"].astype(str) + " habitaciones" +
    " - " + df["Garages"].astype(str) + " estacionamientos"
)
df["Tiene Suite"] = np.where(df["Suites"] > 0, "Sí", "No")
df.to_csv("descripcion-tiene-suit.csv", index=False)
df.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto,Valor Mensual,Valor Anual,Descripcion,Tiene Suite
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0,7700.0,92610.0,Cocineta en Condesa - 1 habitaciones - 0 estac...,No
1,Casa,Polanco,2,0,1,100,24500.0,0.0,0.0,24500.0,294000.0,Casa en Polanco - 2 habitaciones - 0 estaciona...,Sí
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5,32270.0,391128.5,Conjunto Comercial/Sala en Santa Fe - 0 habita...,No
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0,4165.0,50050.0,Departamento en Centro Histórico - 1 habitacio...,No
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,0.0,3605.0,43260.0,Departamento en Del Valle - 1 habitaciones - 0...,No